@use "../globals/mainStyles";

#tips {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  padding: 8.4rem 11.7rem;
}

#tip-tiles-container {
  max-width: 116rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
}

#tips-bg-rectangle {
  position: absolute;
  place-self: center;
  width: 96%;
  max-width: 139.2rem;
  height: 100%;
  background-image: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
  opacity: 0.25;
  border-radius: 3.5rem;
  z-index: -10;
}

.tip-tiles {
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;

  img {
    width: 6.4rem;
  }
  div {
    display: grid;
    row-gap: 2.4rem;
  }
  span {
    @extend .headingM;
  }
}

@media screen and (width < 1200px) {
  #tips-bg-rectangle {
    width: 100%;
    border-radius: 0;
  }
  #tip-tiles-container {
    max-width: 68.6rem;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 4rem;
  }
  .tip-tiles {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
  }
}

@media screen and (width < 800px) {
  #tips {
    padding: 5.6rem 2.8rem;
  }
  .tip-tiles {
    flex-direction: column;
    row-gap: 3.2rem;
  }
}
